/* Убираем отступы и задаем фон */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url('Screenshot_15.jpg'); /* Фон */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Заголовок в центре */
h1 {
  color: black;  /* Черный цвет */
  font-size: 3.5rem;  /* Размер шрифта больше */
  margin-top: 50px; /* Отступ сверху */
  text-transform: uppercase;
}

/* Блок с текстом справа */
.info-box {
  width: 350px;
  position: absolute;
  top: 35%;
  right: 30px;  /* Отступ справа */
  text-align: left;
  background: rgba(255, 255, 255, 0.8); /* Белый фон с прозрачностью */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); /* Тень */
}

/* Заголовок в блоке */
.info-box h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

/* Текст внутри блока */
.info-box p {
  font-size: 1.2rem;
  margin: 10px 0;
  line-height: 1.5;
}
